APScheduler==3.11.0
certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
requests
ics
python-vlc
schedule
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
msgraph-sdk
keyring
tzlocal==5.3.1
urllib3==2.4.0
argcomplete==3.3.0
PySide6
playsound==1.2.2
pytest
pystray
pystray
Pillow
google-api-python-client
appdirs

